@use '../../styles/variables';
@use '../../styles/mixins';

.profile-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 2rem;
  background: linear-gradient(to bottom, #1e3c72, #2a5298); // xanh gradient
  color: white;
  text-align: center;
  margin-top: 3rem;

  .avatar-section {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  transition: opacity 0.01s;

  &:hover .profile-header__overlay {
    opacity: 1;
  }

    .profile-header__avatar-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .profile-header__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); // lớp đen mờ
      color: white;
      @include mixins.flex-center;
      flex-direction: column;
      opacity: 0;
      transition: opacity 0.01s;
      font-size: 16px;

      i {
        font-size: 20px;
        margin-bottom: 6px;
      }
    }
  }

  .profile-info{
    margin-left: 1rem;
    flex: 1;
    text-align: left;
    font-size: 12px;
  }

  .username {
    font-size: 70px;
    font-weight: 600;
    margin-top: 0.01rem;
    font-weight: 600;
    padding: 0.5rem 0;
  }

  .info {
    margin-top: 1rem;
    opacity: 0.9;

    .dot {
      margin: 0 8px;
    }

    .following{

      &:hover{
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
