.artist-layout {
  display: flex;
  min-height: 100vh;
}

.artist-content {
  flex: 1;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 220px;
}